aiohttp==3.7.4
async-timeout==2.0.0
certifi==2018.1.18
chardet==3.0.4
discord.py==0.16.12
idna==2.6
multidict==4.1.0
pew==1.1.2
pipenv==10.1.2
psutil==5.3.1
requests==2.18.4
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
websockets==3.4
